<%- include('header'); -%>

    <h2>
        This is the about Page
    </h2>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ratione voluptatibus eveniet sint nesciunt ut repellendus totam eaque iure ipsa ad quo velit debitis dolores quidem veritatis veniam consequatur repudiandae suscipit, excepturi dolore aliquam sunt quibusdam nisi? Fuga temporibus ipsum in pariatur autem excepturi! Atque accusamus non officia magnam nesciunt.
    </p>

<%- include('footer'); -%>
